@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    /*Defining variable,root accessible*/
    --success-color:#2ecc71;
    --error-color: #e74c3c;
}


*{
    box-sizing: border-box; 
    /* The box-sizing property allows us to include the padding and border in an element's total width and height. If you set box-sizing: border-box; on an element, padding and border are included in the width and height: Both divs are the same size now!*/
  /*Link - https://jsbin.com/pugenef/1/edit?html,css,output */
}


body{
    background-color: #f9fafb;
    font-family: 'Opens Sans',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    margin: 20px;
}

.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width:400px;
}

h2{
    text-align: center;
    margin:0 0 20px;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control span{
    vertical-align: top;
    color: #e74c3c;
}

.form-control label{
    color:#777;
    display: block;
    margin-bottom:5px;
}

.form-control input{
    border:2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width:100%;
    padding: 10px;
    font-size:14px;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;

}


.form-control.success input{
    border-color: var(--success-color);
}


.form-control.error input{
    border-color: var(--error-color);
}

.form-control small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    /*visibility: hidden; = simply hides it whereas Display:none = collapse the content*/
}

.form-control.error small{
    visibility: visible;
}

.form button{
    cursor: pointer;
    background-color: #3498db;
    border:2px solid #3498db;
    border-radius:4px;
    color:#fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    margin: 1% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width:400px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }