<!doctype html>
<html>
<head>
    <title>CLNDR Demo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../src/css/clndr.css">
    <link rel="stylesheet" href="../src/css/appointment.css">

</head>
<body>
    <div>
        <div class="cal1"></div>
        <div class="cal2">
        <script type="text/template" id="template-calendar">
            <div class="clndr-controls">
                <div class="clndr-previous-button">&lsaquo;</div>
                <div class="month"><%= intervalStart.format('M/DD') + ' &mdash; ' + intervalEnd.format('M/DD') %></div>
                <div class="clndr-next-button">&rsaquo;</div>
            </div>
            <div class="clndr-grid">
                <div class="days-of-the-week">
                <% _.each(daysOfTheWeek, function(day) { %>
                    <div class="header-day"><%= day %></div>
                <% }); %>
                    <div class="days">
                    <% _.each(days, function(day) { %>
                        <div class="<%= day.classes %>"><%= day.day %></div>
                    <% }); %>
                    </div>
                </div>
            </div>
            <div class="clndr-today-button">Today</div>
        </script>
    </div>

    <!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div>
            <form id="form" class="form">
                <h2>Appointment</h2>
    
                <div class="form-control">
                    <label for="date">Date<span>*</span></label>
                    <input type="date" id="date">
                    <small>Error Message</small>
                </div>
    
                <div class="form-control">
                    <label for="time">Time<span>*</span></label>
                    <input type="time" id="time">
                    <small>Error Message</small>
                </div>
    
                <div class="form-control">
                    <label for="title">Title<span>*</span></label>
                    <input type="text" id="title" placeholder="Enter title">
                    <small>Error Message</small>
                </div>
                
                <div class="form-control">
                    <label for="description">Description</label>
                    <input type="description" id="description" placeholder="Enter description">
                    <small>Error Message</small>
                </div>
    
                <button>Submit</button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="../src/clndr.js"></script>
    <script src="../src/calendar.js"></script>
    <script src="../src/appointment.js"></script>
</body>
</html>